<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Internal server error</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <main class="px-4 sm:px-6 lg:px-8">
      <img
        src={~p"/images/logo.svg"}
        alt="OpenLLP"
        class="site-header__logo-img site-header__logo-img--light"
      />
      <img
        src={~p"/images/logo.svg"}
        alt="OpenLLP"
        class="site-header__logo-img site-header__logo-img--dark"
      />
      <div class="mx-auto max-w-3xl">
        <div class="hero py-10">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-8xl">☠️</h1>
              <p class="py-8 text-xl">
                Whoa! Looks like something happened unexpectedly on our end.
              </p>
              <p>Please try again.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
